<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <meta-data-->
<!--        android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--        android:resource="@drawable/cross_eye_img" />-->


<!--    <meta-data-->
<!--        android:name="com.google.firebase.messaging.default_notification_color"-->
<!--        android:resource="@color/clr_blue" />-->


<!--    <meta-data-->
<!--        android:name="com.google.firebase.messaging.default_notification_channel_id"-->
<!--        android:value="@string/notification_channel_id" />-->

<!--    If error occurs then remove all the comments  -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskThree"
        tools:targetApi="31">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"

            />

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:name=".activities.MapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.UploadImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.GalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.HomeScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".fcm.MyFirebaseMessageService"
            android:exported="false" >

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
...

    </application>

</manifest>